<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Conference Ticket</title>
  <style>
    body {
      font-family: 'Roboto', Arial, sans-serif;
      padding: 50px;
      background: #f8f9fa;
      color: #212529;
      padding: 0;
      margin: 0;
    }
    
  </style>
</head>
<body>
    <div>
        <p>Un message en français suivra.</p>
        <p style="padding-top: 5px">Hello <%= firstName %> </p>
        <p style="padding-top: 5px">
            Thank you for registering for the Global Leadership Forum on Technology, Health, and Climate Resilience. Your commitment comes at a pivotal moment—through the lens of technology, health, and climate resilience, this event will serve as a vital platform to exchange knowledge, build cross-sector partnerships, and accelerate innovative solutions that empower communities to adapt to and mitigate the growing health impacts of climate change.
        </p>
        <p style="padding-top: 5px">
            In the coming days, you will receive an email with instructions on how to access our official event platform. If you have requested a visa invitation letter, it will be sent to you within three business days.
        </p>
        <p style="padding-top: 5px">
            If you have any questions or need further assistance, please feel free to contact us at <a href="mailto:registration@thriveglobalforum.com" style="color: #0051ff; text-decoration: underline;">registration@thriveglobalforum.com</a> For additional event details, please visit <a style="color: #0051ff;" target="_blank" href="www.thriveglobalforum.com">www.thriveglobalforum.com</a> 
        </p>
        <br>
        <p>-----------------------------------------------------------------------------------</p>
        <br>
        <p>Bonjour <%= firstName %></p>
        <p style="padding-top: 5px">
            Merci de vous être inscrit(e) au Forum Mondial sur le Leadership en Technologie, Santé et Résilience Climatique. Votre engagement arrive à un moment crucial — à l’intersection de la technologie, de la santé et de la résilience climatique, cet événement constituera une plateforme essentielle pour échanger des connaissances, établir des partenariats intersectoriels et accélérer des solutions innovantes permettant aux communautés de s’adapter aux impacts croissants du changement climatique sur la santé, tout en les atténuant.
        </p>
        <p style="padding-top: 5px">
            Dans les prochains jours, vous recevrez un courriel contenant les instructions pour accéder à notre plateforme officielle de l’événement. Si vous avez demandé une lettre d’invitation pour votre demande de visa, celle-ci vous sera envoyée dans un délai de trois jours ouvrables.
        </p>
        <p style="padding-top: 5px">
            Si vous avez des questions ou besoin d’assistance supplémentaire, n’hésitez pas à nous contacter à l’adresse suivante <a href="mailto:registration@thriveglobalforum.com" style="color: #0051ff; text-decoration: underline;">registration@thriveglobalforum.com</a> Pour plus d’informations sur l’événement, veuillez consulter notre site <a style="color: #0051ff;" target="_blank" href="www.thriveglobalforum.com">www.thriveglobalforum.com</a> 
        </p>
    </div>
</body>
</html>
